node_modules
dist

logs
*.log
yarn-error.log*
pnpm-debug.log*

.env
.env.*

.git
.gitignore
.gitattributes

.vscode
.idea
*.swp
*.swo

.npmrc
.nvmrc

.DS_Store
Thumbs.db

Dockerfile
docker-compose*.yml
.dockerignore

coverage
*.test.ts
*.spec.ts

README.md
docs

k8s
terraform