# Terraform
.terraform/                  
*.tfstate                    
*.tfstate.*                  
*.tfplan                     
tfplan                       
*.tfvars                     
crash.log                   
crash.*.log
override.tf                  
override.tf.json
*_override.tf
*_override.tf.json

# OS
.DS_Store

# Logs
*.log